body {
    background-color: rgb(146, 146, 146);
  }
  h1 {
    color: hsl(240, 60%, 56%);
  }
  h2 {
    color: hsl(240, 60%, 56%);
  }
  h3 {
    color: hsl(240, 60%, 56%);
  }
  h4 {
    color: hsl(240, 60%, 56%);
  }
  h5 {
    color: hsl(240, 60%, 56%);
  }
  h6 {
    color: hsl(240, 60%, 56%);
  }
  p {
    color: hsl(240, 60%, 56%);
  }
